<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' 
    rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' 
    crossorigin='anonymous'>
    <title>Arbortrary New</title>
</head>
<body>
    <div class="nav">
        <div class="nav_left">
            <h1>Arbortrary</h1>
        </div>
        <div class="nav_right">
            <a href="/user/account">My Trees</a>
            {% for users in user %}
            <h1>Welcome, {{ users.first_name }} {{ users.last_name }}</h1>
            {% endfor %}
        </div>
    </div>
    <div class="nav">
        <div class="nav_left">
            <h2>A site to track randomly planted trees</h2>
        </div>
        <div class="nav_right">
            <a href="/dashboard" class="btn btn-success">Dashboard</a>
            <a href="/logout" class="btn btn-success">Logout</a>
    </div> 
        <form action="/arbirtrary/new/tree" method="post" class="col-10">
            <h1>Arbitrarily Plant a Tree</h1>
            <div class="row">
                <div class="col-4 p-4">
                    <div class="form-group">
                        <label for="species" class="form-label">Species:</label>
                        <input type="text" name="species" id="species" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="location" class="form-label">Location:</label>
                        <textarea name="location" id="location" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="form-label">Reason:</label>
                        <textarea name="reason" id="reason" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="planted_date" class="form-label">Date Planted:</label>
                        <input type="date" name="planted_date" id="planted_date" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-2 border border-1">Plant</button>
        </form>
    </div>
</body>
</html>
